<h1>List of Foods</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Measurement Unit</th>
    <th>Price</th>
  </tr>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td><%= number_to_currency(food.price) %></td>
    </tr>
  <% end %>
</table>
