@import 'bootstrap';
@import 'font-awesome';


#inventoryModal {
    display: block;
    position: fixed;
    top: 73%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  